/* GENERAL */

html {
    margin: auto 400px;
    font-family: 'Proza Libre', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    
}

/* NAV */

nav {
    display: flex;
    align-items: center;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto; 
    color: black; 

}

.navigation-item {
    padding: 0.5rem ;
    font-weight: bold;

}

